.ipynb_checkpoints/
.vscode/
Consignas/.ipynb_checkpoints/
Devolucion/Devolucion 1/.ipynb_checkpoints/
codigo_notebooks/.ipynb_checkpoints/TP3-checkpoint.ipynb
codigo_notebooks/__pycache__/
mentoriabci/
Database/
